*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* header */

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.container-top-link{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-top-link{
    display: flex;
    justify-content: space-evenly;
    flex: 1 0 0 ;
    margin: 0 89px;
}

.content-top-link a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.top-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    max-width: 900px;
    padding: 4rem;
}

h1{
    font-size: 50px;
    color: white;
}

.top-text p{
    padding: 2rem;
    font-size: 20px;
    color: white;
}

.down-button-hd{
    padding: 2rem;
}

.button-hd{
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 45px;
    padding: 0.5rem;
}

.black-button{
    background-color: black;
    color: white;
}


