*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* header */

header{
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.container-top-link{
    max-width: 900px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-top-link{
    display: flex;
    justify-content: space-evenly;
    flex: 1 0 0 ;
    margin: 0 89px;
}

a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
