*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* general */

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.container-small {
	max-width: 600px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 1em 1.5em;
	border-radius: 10em;
	text-decoration: none;
}

.btn-white {
	background-color: white;
	color: black;
}

.btn-black {
	background-color: black;
	color: white;
}

.btn-blue {
	background-color: rgb(37, 111, 172);
	color: white;
}

p{
	line-height: 1.6;
}

/* header */

header {
	background-color: #255EE9;
}

.menu-top {
	height: 4em;
}

.menu-top ul {
	display: flex;
	height: 100%;
}

.menu-top li {
	list-style: none;
	display: flex;
	align-items: center;
}

.menu-link {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1em;
	margin: 0 .3em;
	color: white;
	text-decoration: none;
	white-space: nowrap;
}

.menu-top .menu-link:hover {
	background-color: aqua;
}

.menu-top .logo {
	margin-right: auto;
}

.menu-top .accedi {
	margin-left: auto;
}

.header-background {
	padding: 7rem 0 3rem;
	background-image: url("../img/jumbo.png");
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
}

.header-content {
	text-align: center;
	color: white;
}

.header-content h1 {
	margin-bottom: 2rem;
}

.header-content p {
	margin-bottom: 1.5rem;
}

.fa-arrow-down {
	margin-right: .5em;
}

/* main */

.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.background-section{
	background-color: lightgrey;
}

.reverse{
    flex-direction: row-reverse;
}

.col{
    flex-direction: column;
    text-align: center;
}

.section-text h2{
    font-size: 2.5rem;
    margin-bottom: 1em;
}

.big-img{
    margin-bottom: 4rem;
}

.foot-section{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.foot-section h2{
    padding: 2rem;
}

.wave{
	display: block;
}

.wave-reverse{
	transform: rotatez(180deg) rotatey(180deg);
}

/* footer */

footer{
    background-color: rgb(57, 57, 57);	
}

.menu-footer{
    height: 30rem;
	display: flex;
	justify-content: space-around;
	padding: 4em;
	border-bottom: 1px solid rgb(62, 62, 150);
}

.menu-footer a{
	text-decoration: none;
	color: white;
}

.language{
	margin-right: 2em;
}

.language h2{
	margin-bottom: 1em;	
	font-size: 2em;
}

.flag{
	margin-right: .5em;
	width: 2em;
}

.icon{
	padding: .5em;
}

.fa{
	font-size: 1.5em;
	color: white;
}

.content-list li{
	list-style: none;
	padding: .5em;
}

.menu-list{
	color: #255EE9;
	display: flex;
	flex-direction: column;
}

.login{
	display: flex;
	justify-content: space-around;
	padding: 2rem;
}



